# ==========================================
# CONFIGURACIÓN DE BASE DE DATOS (MySQL)
# ==========================================
DB_HOST=localhost
DB_NAME=control_procesos
DB_USER=root
DB_PASS=
DB_PORT=3306

# ==========================================
# CONFIGURACIÓN DEL HARDWARE (ESP8266)
# ==========================================
# La IP que te asigne tu router o el punto de acceso
ESP8266_IP=IP_local_ESP8266
ESP8266_PORT=80
ESP8266_PATH=/consultar

# ==========================================
# ENTORNO DE APLICACIÓN
# ==========================================
APP_ENV=development
APP_DEBUG=true